:root {
  --white: #E8F1F2;
  --light-blue: #1B98E0;
  --blue: #006494;
  --lapis: #247BA0;
  --dark-blue: #13293D;
  --other-blue: #90caf9;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
}

.my-form {
  background-color: #fff;
  padding: 10px;
  margin-top: 50px;
  border-radius: 15px;
  border: 1px solid var(--dark-blue);
}

.my-initials {
  background-color: var(--dark-blue);
}

.notification-container {
  background-color: var(--other-blue);
  border: 1px solid #000;

}

.blogpost-details {
  margin: 0;
  padding: 10px;
}

.blogpost-title {
  margin: 0;
}

.blogpost-container {
  margin-top: 20px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #000;
}

.blogpost-posted {
  padding: 10px;
  background-color: var(--other-blue);
  border-top: 1px solid #000;
}

.dashboard {
  margin-top: 20px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: var(--lapis);
  box-shadow: none;
}